@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.link-menu {
  @apply text-black;
  @apply font-bold;
}

.link-menu.active,
.link-menu:hover {
  @apply text-secondary;
  @apply font-bold;
}

@layer utilities {
  .scrollbar::-webkit-scrollbar {
    @apply w-3;
    @apply h-5;
  }

  .scrollbar::-webkit-scrollbar-track {
    border-radius: 100vh;
    @apply bg-primary;
  }

  .scrollbar::-webkit-scrollbar-thumb {
    @apply bg-grey;
    border-radius: 100vh;
    border: 3px solid #d1d1d1;
  }

  .scrollbar::-webkit-scrollbar-thumb:hover {
    @apply bg-grey;
  }
}

.video-container {
  height: 600px;
}

.carousel-home {
  min-height: 650px;
}

.bg-carousel {
  position: relative;
  background: linear-gradient(
      to left,
      rgba(255, 255, 255, 0) 20%,
      rgba(255, 255, 255, 1)
    ),
    url("/images/demo-carousel.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  /* background-attachment: fixed; */
}

svg {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 10vw;
}

.banner {
  position: relative;
  overflow: hidden;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 65px;
}

.banner img {
  width: 100%;
}

.banner p {
  position: absolute;
  font-size: 3.2rem;
  font-weight: bold;
  margin-bottom: 7.2rem;
}

.rotated-banner {
  position: absolute;
  display: block;
  width: 100%;
  min-height: 150%;
  background: #ffff;
  transform: rotate(-7deg);
  top: 76%;
}
